@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: black;
  background-image: url('/hike-tracker-client/public/Waterfall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.nav {
  align-self: flex-end;
  background: black;
  color: #FFC312;
  display: flex;
}

.main-nav {
  align-self: flex-end;
  background: black;
  display: flex;
  justify-content: flex-end;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.5);
}

.container {
  align-content: center;
  height: 100%;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  height: 370px;
  margin-bottom: auto;
  margin-top: auto;
  width: 400px;
}

.card-body {
  margin-bottom: auto;
  padding-bottom: 50px;
}

.sign-up-card {
  background-color: rgba(0, 0, 0, 0.5);
  height: 370px;
  margin-bottom: auto;
  margin-top: auto;
  width: 400px;
}

.card-footer {
  height: auto;
}

.search-card {
  background-color: rgba(0,0,0,0.6);
  color: white;
  height: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 400px;
}



.create-card {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 600px;
}

span {
  color: #FFC312;
  font-size: 60px;
  margin-left: 10px;
}

span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  background-color: #FFC312;
  border: 0;
  color: black;
  width: 50px;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0 0 0 0;
}

.remember {
  color: white;
}

.remember input {
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  width: 20px;
}

.login_btn {
  background-color: #FFC312;
  color: black;
  height: 2.5rem;
  width: 100px;
}

.submit-create-btn {
  background-color: #FFC312;
  color: black;
  width: 100px;
}

.submit-create-btn:hover {
  background-color: white;
  color: black;
}

.login_btn:hover {
  background-color: white;
  color: black;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

.index-card {
  background-color: rgba(0,0,0,0.6);
  color: white;
  height: 90%;
  margin-bottom: auto;
  width: 600px;
}
.header {
  padding-left: 5px;
  background-color: #FFC312;
  color: black;
}
.stats {
  background-color: maroon;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-top: 25px;
}

.scrollable-index {
  background-color: rgba(0,0,0,0);
  color: white;
  height: 100%;
  overflow: auto;
}

#search-container {
  padding: 10px;
}

.search-result-card {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding: 10x;
  width: 600px;
}

#edit-fn-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.alert-failure {
  background-color: rgba(256,0,0,0.6);
  color: white;
}

#log-in-btn {
  align-self: flex-end;
}
